<?xml version="1.0"?>
<config>
  <modules>
    <Afone_Comnpay>
      <version>1.0.0</version>
    </Afone_Comnpay>
  </modules>
  <global>
    <blocks>
      <comnpay>
          <class>Afone_Comnpay_Block</class>
      </comnpay>
    </blocks>
    <models>
      <comnpay>
        <class>Afone_Comnpay_Model</class>
      </comnpay>
    </models>
    <helpers>
      <comnpay>
        <class>Afone_Comnpay_Helper</class>
      </comnpay>
    </helpers>
  </global>
  <default>
    <payment>
      <comnpay>
        <model>comnpay/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Paiement CB - Comnpay</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
        <devise>EUR</devise>
        <langue>fr</langue>
        <url_gateway_config>HOMOLOGATION</url_gateway_config>
        <url_gateway_homologation>https://secure.homologation.comnpay.com</url_gateway_homologation>
        <url_gateway_production>https://secure.comnpay.com</url_gateway_production>
        <tpe_no backend_model="adminhtml/system_config_backend_encrypted"/>
        <secret_key backend_model="adminhtml/system_config_backend_encrypted"/>
      </comnpay>
    </payment>
  </default>
  <frontend>
    <routers>
      <comnpay>
        <use>standard</use>
        <args>
          <module>Afone_Comnpay</module>
          <frontName>comnpay</frontName>
        </args>
      </comnpay>
    </routers>
    <translate>
       <modules>
           <Afone_Comnpay>
               <files>
                   <default>Afone_Comnpay.csv</default>
               </files>
           </Afone_Comnpay>
       </modules>
     </translate>
  </frontend>
  <adminhtml>
    <translate>
       <modules>
           <Afone_Comnpay>
               <files>
                   <default>Afone_Comnpay.csv</default>
               </files>
           </Afone_Comnpay>
       </modules>
     </translate>
  </adminhtml>
</config>
